# Your name: Kiejstut Bunikiewicz
## Assignment Name: CA06 - KNN-based Recommender Engine

# Program Inititialization Section
## Enter your import packages here

In [107]:
# import packages 
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors #Function to return nearest neighbor

# Data File Reading Section / Data Source and Contents
## Write code to read in data from external sources here

In [108]:
#read Movie dataset
movierec = 'https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv' #data is read in from this URL
movierec = pd.read_csv(movierec)
movierec.head() # import successful

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

In [109]:
#General Data Overview
movierec.describe
movierec.info
movierec.dtypes # data types look correct
movierec.shape # correct number of rows
movierec.count()

# Finding Missing values / NaNs
print(movierec.isnull().sum()) # No null values/ NaN in dataset
movierec.tail()
movierec.head()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

In [110]:
#Creating feature matrix and test labels
features_matrix = movierec.iloc[:,2:-1] #Defining the features matrix as columns with IMDB rating and Genre Labels
test_matrix = [7.2, 1, 1, 0, 0, 0, 0, 1] #Creating a test movie "The Post" from assignment instructions
test_matrix = np.reshape(test_matrix, (-1,1)).T #Reshaping the array so it works in the function

#Building a Recommender System & Implementing It

In [111]:
#Using the NearestNeighbors Function to find nearest matches
neigh = NearestNeighbors(n_neighbors=5) #This function will give us 5 closest matches
neigh.fit(features_matrix) #fitting model to the features

movierecommend = neigh.kneighbors(test_matrix) #This is returning the 5 movies closest to "The Post"
moviereccomend = movierecommend[1] #Reformatting for the for loop

for movie in moviereccomend: #For loop will return the correct recommendation of movie based on film index number
  rec = movierec.iloc[movie,1] #Outputting index number and title
  print(pd.DataFrame(rec)) #reformatting output for readability
# The five closest movies are "12 Years a Slave", "Hacksaw Ridge", "Queen of Katwe", "The Wind Rises", and "A Beautiful Mind"

          Movie Name
28  12 Years a Slave
27     Hacksaw Ridge
29    Queen of Katwe
16    The Wind Rises
2   A Beautiful Mind